<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body id="main">
    <% include ./partials/nav %>
<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Web 만들면서 공부했던 자료들</div>
      <div class="intro-heading text-uppercase">게시판 기능, 파일 업로드 기능</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#blackboard">게시판 바로가기</a>
    </div>
  </div>
</header>

<!-- sector -->
 <div class="container post post-show">
<!-- header -->
 <h2>Board</h2>
<!-- /header -->
<div class="buttons">
        <a class="btn btn-primary" href="/posts">Back</a>
        <a class="btn btn-primary" href="/posts/<%= post._id %>/edit">Edit</a>
        <form action="/posts/<%= post._id %>?_method=delete" method="post">
         <a class="btn btn-primary" href="#" onclick="confirm('삭제 하겠습니까 ??')?this.parentElement.submit():null;">Delete</a>
        </form>
       </div>
    
       <div class="contentBox">
        <h3 class="contentBoxTop"><%= post.title %></h3>
        <div class="row">
         
         <div class="col-sm-8 col-sm-pull-4">
          <div class="post-body"><%= post.body %></div>
         </div> <!-- col end-->
         <div class="col-sm-4 col-sm-push-8">
            <div class="post-info">
             <div><span>Created</span> : <%= post.createdDate %> <%= post.createdTime %></div>
             <% if(post.updatedAt) { %>
              <div><span>Updated</span> : <%= post.updatedDate %> <%= post.updatedTime %></div>
             <% } %>
            </div> <!-- post-info end -->
           </div> <!-- col end-->
        </div> <!-- row end -->
       </div> <!-- post-container end -->
    
      </div> <!-- container end -->
<!-- /sector -->
<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="copyright">web &copy; Your Website 2019</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">web</a>
          </li>
          <li class="list-inline-item">
            <a href="#">web</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--Navbar-->
<nav class="navbar navbar-light amber lighten-4 mb-4">

    
  
    <!-- Collapse button -->
    <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
      aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
      <div class="animated-icon1"><span></span><span></span><span></span></div>
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent20">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <!-- Links -->
  
    </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->
<!-- 오른쪽의 고정바 -->
    <div id="aside">
      <button class="btn btn-primary btn-lg">Home</button>
    </div>
<!-- /오른쪽의 고정바 -->

<% include ../partials/menuAnimation %>
<% include ../partials/jsLibrary %>
  </body>
</html>